/* *{
    border: 1px red solid;
} */
.main{
    padding: 10%;
    background: rgb(109, 137, 226);
}

#stopwatch{
    background-color: rgb(27, 6, 6);
    margin: 30px 15pc;
    border-radius: 5in;
    padding: 20px 20px;
    font-size:50px;
    text-align: center;
    color: rgb(207, 205, 40);
}
#buttons{
    background: rgb(135, 202, 222);
    padding: 10px 10px;
    margin: 0 15pc;
    border-radius: 5in;
    align-items: center;
}
#buttons button{
    margin-left: 70px;
    color: rgb(248, 233, 15);
    /* justify-content:space-evenly */
    padding: 10px;
    font-weight: 900;
    border-radius: 5in;
    background-color: rgb(235, 41, 16);
}